<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Raincube-404</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--    Google Fonts    -->
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!--  Favicon  -->
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#2EC0F9">
    <meta name="msapplication-TileImage" content="./images/ms-icon-144x144.png">
    <meta name="theme-color" content="#2EC0F9">
</head>

<body class="varela-font">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" id="drop-image"><img src="./images/favicon-32x32.png"></a>
                <a href="/" class="navbar-brand"><strong>Rain</strong>cube</a>
            </div>
        </div>
    </nav>
    <div class="container dashboard-bg">
        <div class="jumbotron">
            <h1 class="text-center">404-Page not found</h1>
            <button class="btn btn-link btn-lg center-block" ><a href="/">Take me home</a></button>

        </div>
    </div>
</body>

</html>
