<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Raincube-Garden-Monitor</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Custom CSS -->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--    Google Fonts    -->
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <style>
        .navbar-header {
            width: 100%;
            padding-left: 5px;
            padding-right: 5px;
            position: relative;
        }
    </style>

    <!--  Favicon  -->
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#2EC0F9">
    <meta name="msapplication-TileImage" content="./images/ms-icon-144x144.png">
    <meta name="theme-color" content="#2EC0F9">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <a href="/" class="navbar-brand" id="drop-image"><img src="./images/favicon-32x32.png"></a>
                <a href="/" class="navbar-brand"><strong>Rain</strong>cube</a>
<!--                <a href="/" class="navbar-brand" style="padding-left:0px;"><strong>Rain</strong>cube</a>-->
                <a href="/monitor" class="btn btn-link navbar-btn pull-right" data-toggle="tooltip" data-placement="bottom" title="TCP/IP Connections"><small>Active connections: </small><strong id="cantidadLabel" style="color:black;"></strong></a>
            </div>
        </div>

    </nav>

    <div class="container" style="margin-top:75px;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3><span class="glyphicon glyphicon-th-list"></span><span class="varela-font"> Last data packages received</span></h3>
                <div class="separator"></div>
            </div>

        </div>

        <div class="row">
            <div class="list-group col-xs-12 col-sm-12 col-md-12 col-lg-12" id="listadoData">
            </div>
        </div>

    </div>

    <!--Socket IO-->
    <script src="/js/socket.io-1.3.7.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="application/javascript">
        var socket = io();

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        socket.on("connectionsUpdated", function (data) {
            $("#cantidadLabel").text(data.cantidad);
        });

        socket.on("newDatafromTCP", function (datos) {
            console.log(datos);
            $("a").remove("#dataThing");
            datos.data.forEach(function (object) {
                if (object.contenido === "Timeout Reached") {
                    $("#listadoData").prepend("<a class='list-group-item list-group-item-warning' id='dataThing'>" + moment(object.fechaObjeto).format("DD-MM-YYYY hh:mm a") + ": " + object.contenido + "</a>");
                } else if (object.contenido === "DEVICE DISCONNECTED") {
                    $("#listadoData").prepend("<a class='list-group-item list-group-item-danger' id='dataThing'>" + moment(object.fechaObjeto).format("DD-MM-YYYY hh:mm a") + ": " + object.contenido + "</a>");
                } else if (object.contenido === "NEW CONNECTION") {
                    $("#listadoData").prepend("<a class='list-group-item list-group-item-success' id='dataThing'>" + moment(object.fechaObjeto).format("DD-MM-YYYY hh:mm a") + ": " + object.contenido + "</a>");
                } else {
                    $("#listadoData").prepend("<a class='list-group-item' id='dataThing'>" + moment(object.fechaObjeto).format("DD-MM-YYYY hh:mm a") + ": " + object.contenido + "</a>");
                }
            });
        });
    </script>

</body>

</html>
