.pila-buttons-bg {
    height: 100vh;
    background: white;
    padding-top: 65px;
    min-height: 600px;
}

.dashboard-bg {
    height: 100vh;
    background: white;
    padding-top: 65px;
    min-height: 600px;
}

#drop-image {
    margin-top: -6px;
}

h1 {
    color: black;
    font-family: 'Varela Round', sans-serif;
}

.separator {
    height: 1px;
    width: 100%;
    display: block;
    margin: 9px 0;
    overflow: hidden;
    background-color: black;
}

.navbar-brand {
    font-family: 'Varela Round', sans-serif;
}

.varela-font {
    font-family: 'Varela Round', sans-serif;
}

.margen-grande {
    margin: 3vh;
}

.centrado {
    margin-left: auto;
    margin-right: auto;
    display: center;
}

.text-azul {
    color: #2EC0F9;
}

.margin-top {
    margin-top: 4vh;
}
#logout-button {
    color: red
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
